<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Full Cycle Rocks!</title>
</head>
<body>
    <h1>Full Cycle Rocks!</h1>
    <div class="container">
        <div class="container">
            <form action="/" method="POST">
                <fieldset>
                    <h3>Add new name:</h3>
                    <label>Name</label>
                    <input type="text" id = "name" name="name" required>
                    <br><br>
                    <button type ="reset">Reset</button>
                    <button type ="submit">Submit</button>
                </fieldset>
            </form>
        </div>
        <div class="container">
            <% if (people.length > 0) { %>
                <h2 class="title">Nomes:</h2> 
                <% people.forEach(person => { %> 
                    <h3 class="title"><%= person.name %></h3> 
                <% }) %> 
            <% } else {%>     
                <p>Não há nomes para serem exibidos...</p>
            <% } %>
        </div>    
    </div>
</body>
</html>